<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        <img src="../../../assets/perfil.JPG" id="fotodeperfil" alt="" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 name">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <h1>Full Stack Developer Jr</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Sobre mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quod et cumque quidem accusantium hic, amet consequatur quos, id sed error? Placeat voluptas ipsam libero cumque. Possimus veritatis id nisi.</p>
        </span>
    </div>
</div>
