<div class="row" id="experiencia-laboral">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3>
                <h4>(years)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut molestias sint, ad dicta libero sed atque excepturi voluptas mollitia dolorum ducimus laudantium impedit ullam ipsa in incidunt.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3>
                <h4>(years)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut molestias sint, ad dicta libero sed atque excepturi voluptas mollitia dolorum ducimus laudantium impedit ullam ipsa in incidunt.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3>
                <h4>(years)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut molestias sint, ad dicta libero sed atque excepturi voluptas mollitia dolorum ducimus laudantium impedit ullam ipsa in incidunt.
            </p>
        </ul>
    </div>
</div>
