.row{
    padding: 20px;
}
div{
    background-color: #C02F2F;
}
h2, 
h3, 
h5{
    color: black;
}
h3{
    font-weight: bold;
}
.botonAexp,
.btn{
    text-decoration: none;
    color: #C02F2F;
    padding: 10px 20px;
    border-radius: 35px;
    background-color: #eae880;
    font-family: 'B612', sans-serif;
    border: none;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000;
}
