<div class="row" id="proyectos">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <h2>Proyectos</h2>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <button type="button" class="botonAexp" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
</div>
<div *ngFor="let Proyecto of proyecto" class="row">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3>{{Proyecto.nombreP}}</h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>{{Proyecto.descripcionP}}</h5>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src={{Proyecto.imgP}} alt="" class="img-fluid img-proyecto">
    </div>
    <div *ngIf="isLogged" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-light" routerLink="/editproyectos/{{Proyecto.id}}">
            <i class="bi bi-pencil-fill"></i> EDITAR</button>
    </div>
    <div *ngIf="isLogged" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-danger" (click)="delete(Proyecto.id)">
            <i class="bi bi-trash-fill"></i> BORRAR</button>
    </div>
</div>
