.row{
    padding: 20px;
    background-color: #C02F2F;
}
.contenedor{
    width: auto;
}
.parte1, 
.parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000;
}
h2, 
h3,
p{
    color: #000;
    margin: 16px 8px 8px 8px;
}