<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" id="logoAP">
        </div>
        <div class="menu">
            <nav class="menu">
                <a href="#experiencia-laboral">EXPERIENCIA LABORAL</a>
                <a href="#educacion">EDUCACION</a>
                <a href="#hard-y-soft">HARD Y SOFT SKILLS</a>
                <a href="#proyectos">PROYECTOS</a>
            </nav>
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/linkedin.png" alt=""></a>
                <a href="https://github.com/rehpaloma" target="_blank"><img src="../../../assets/github.png" alt=""></a>
                <input type="button" class="btn" value="Log In" (click)="login()" *ngIf="!isLogged"/>
                <input type="button" class="btn" value="Log Out" (click)="onLogOut()" *ngIf="isLogged"/>
            </div>
        </div>
    </div>
</div>
