.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
}
#logoAP{
    width: 150px;  
}
img{
    width: 50px;
}
.menu a {
    color: #F1F1D4;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.4s;
    font-family: 'B612', sans-serif;
}
.menu a:hover{
    color: #D9D61C;
}
@media(max-width: 575px) {
    .container{
    flex-direction: column;
    }
    .redes,
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}
.btn{
    text-decoration: none;
    color: #B40404;
    padding: 10px 40px;
    border-radius: 35px;
    background-color: #D9D61C;
    align-self: baseline;
    font-family: 'B612', sans-serif;
}
