.gradient-custom {
    /* fallback for old browsers */
    background: #C02F2F;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #C02F2F, #D9D61C);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #C02F2F, #D9D61C);

}
.btn{
    color: #000;
    --bs-btn-hover-bg: #c02f2f;
    --bs-btn-hover-border-color: #000;
    --bs-btn-hover-color: #000;
}

