.row{
    background-color: #b40404;
}
footer{
    color: #F1F1D4;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    font-family: 'B612', sans-serif;
}
address{
    margin: 0;
}
